# Importar bibliotecas necesarias

In [2]:
import pandas as pd
import numpy as np

# Cargar el dataset

In [3]:
df = pd.read_csv('C:\\Users\\Benjamin Villacorta\\Documents\\Python\\CursoML\\archive\\bank_transactions_data_2.csv')  # Reemplaza con la ruta correcta

# Convertir fechas a tipo datetime

In [4]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
df['PreviousTransactionDate'] = pd.to_datetime(df['PreviousTransactionDate'])

# Crear nuevas características basadas en las fechas

In [5]:
df['TransactionYear'] = df['TransactionDate'].dt.year
df['TransactionMonth'] = df['TransactionDate'].dt.month
df['TransactionDay'] = df['TransactionDate'].dt.day

# Calcular la diferencia de tiempo entre transacciones

In [6]:
df['TimeSinceLastTransaction'] = (df['TransactionDate'] - df['PreviousTransactionDate']).dt.total_seconds() / 3600

# Normalizar columnas numéricas

In [7]:

numeric_cols = ['TransactionAmount', 'TransactionDuration', 'LoginAttempts', 'AccountBalance', 'CustomerAge']
df[numeric_cols] = (df[numeric_cols] - df[numeric_cols].mean()) / df[numeric_cols].std()

# Codificar variables categóricas

In [8]:

categorical_cols = ['TransactionType', 'Location', 'DeviceID', 'MerchantID', 'Channel', 'CustomerOccupation']
df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

# Eliminar columnas innecesarias

In [9]:

df.drop(['TransactionID', 'AccountID', 'IP Address'], axis=1, inplace=True)

# Manejar valores nulos si existiesen

In [10]:

df.fillna(df.mean(), inplace=True)

# Guardar el dataframe limpio

In [11]:

df_out=df.copy()

In [12]:
df_out

,TransactionAmount,TransactionDate,CustomerAge,TransactionDuration,LoginAttempts,AccountBalance,PreviousTransactionDate,TransactionYear,TransactionMonth,TransactionDay,...,MerchantID_M096,MerchantID_M097,MerchantID_M098,MerchantID_M099,MerchantID_M100,Channel_Branch,Channel_Online,CustomerOccupation_Engineer,CustomerOccupation_Retired,CustomerOccupation_Student
0,-0.971082,2023-04-11 16:29:14,1.423435,-0.552333,-0.206752,-0.000537,2024-11-04 08:08:08,2023,4,11,...,False,False,False,False,False,False,False,False,False,False
1,0.269386,2023-06-27 16:44:19,1.311026,0.305254,-0.206752,2.216030,2024-11-04 08:09:35,2023,6,27,...,False,False,False,False,False,False,False,False,False,False
2,-0.586765,2023-07-10 18:16:08,-1.442990,-0.909661,-0.206752,-1.023330,2024-11-04 08:07:04,2023,7,10,...,False,False,False,False,False,False,True,False,False,True
3,-0.387379,2023-05-05 16:32:11,-1.049559,-1.352748,-0.206752,0.885621,2024-11-04 08:09:06,2023,5,5,...,False,False,False,False,False,False,True,False,False,True
4,-0.973274,2023-10-16 17:51:24,-1.049559,1.119961,-0.206752,0.593471,2024-11-04 08:06:39,2023,10,16,...,False,False,False,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2507,1.913422,2023-04-26 17:09:36,-0.656128,-0.152126,-0.206752,1.942220,2024-11-04 08:11:29,2023,4,26,...,False,False,False,False,False,True,False,False,False,False
2508,-0.157747,2023-03-22 17:36:48,0.186938,0.819806,-0.206752,-1.245738,2024-11-04 08:11:42,2023,3,22,...,False,False,False,False,False,True,False,False,False,False
2509,-0.921278,2023-08-21 17:08:50,0.636573,0.376719,-0.206752,-0.443840,2024-11-04 08:08:39,2023,8,21,...,False,False,False,False,False,True,False,False,True,False
2510,-0.382344,2023-02-24 16:24:46,-1.218172,-1.438506,-0.206752,-0.855535,2024-11-04 08:12:22,2023,2,24,...,False,False,False,False,False,False,True,False,False,True
2511,-0.186725,2023-02-14 16:21:23,-1.161968,-0.380816,-0.206752,-1.277397,2024-11-04 08:07:49,2023,2,14,...,False,False,False,False,False,False,True,False,False,True